<h1>Teste de página INDEX na WELCOME CONTROLLER!</h1>
<h2>Teste teste!</h2>
<h3><%= @teste %></h3>
<%= link_to "Cadastro de Clientes", customers_path, class:"btn btn-outline-dark" %>

<h3>
  <%= t("hello") %>
</h3>

<button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
  Tooltip on top
</button>

<button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
  Popover on top
</button>